<!--{% load static %}-->

<!--&lt;!&ndash; Модальное окно &ndash;&gt;-->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Профиль пользователя</h5>-->
<!--        <button id="close_up_1" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>-->
<!--      </div>-->
<!--      <div class="modal-body content_user_profile">-->
<!--&lt;!&ndash;          Пользователь авторизован&ndash;&gt;-->
<!--          <ul class="content_user_profile">-->
<!--              <li class="value_content_up">Username:&nbsp; <p id="up_username" class="p_content_up"></p></li>-->
<!--              <li class="value_content_up">Email:&nbsp; <p id="up_email" class="p_content_up"></p></li>-->
<!--          </ul>-->
<!--      </div>-->
<!--      <div class="modal-footer">-->
<!--        <button id="close_up_2" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<script src="{% static 'users/js/main.js' %}"></script>-->

<link rel="stylesheet" href="{% static 'static_vue/css/app.css' %}" type="text/css">
<script src="{% static 'static_vue/js/app.js' %}"></script>
<script src="{% static 'static_vue/js/chunk-vendors.js' %}"></script>
